li a {
  color: white
}

body {
  background: white url("images/background.jpg") no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.quote {
  color: white;
  font-family: Impact, sans-serif;
  text-shadow: 2px 2px 6px rgba(0,0,0, 0.5)
}

.quote_container{
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
